@import "tailwindcss";

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  --background: #ffffff;
  --foreground: #000000;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary-100: #ebfffa;
  --color-primary-200: #c6fce5;
  --color-primary-300: #6ef3d6;
  --color-primary-400: #0dceda;
  --color-primary-500: #0aa3ad;
}

body {
  background-color: var(--background);
  color: var(--foreground);
}

@media (min-width: 768px) {
  /* md以上のサイズ */
  .md-header-fixed {
    width: 100%;
    max-width: 640px;
    left: 50%;
    transform: translateX(-50%);
  }
}

@media (min-width: 1024px) {
  /* lg以上のサイズ */
  .md-header-fixed {
    max-width: 768px;
  }
}
